.article-header {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -15px;
    margin-bottom: 20px;
    padding: 15px;
}

blockquote {
    padding: 0 1em;
    color: #50fa7b;
    border-left: .25em solid #4f5864
}

h1, h2, h3 {
    margin-top: 2rem;
    padding-bottom: .3em;
}

.img-fluid {
    margin-left: 5%;
    margin-right: 5%;
    max-width: 90%;
}

.badge {
    margin: 0.25em;
}

.article-tags {
    float: right;
    padding-right: 1rem;
}

.article-date {
    padding-left: 1rem;
}

li {
    margin-bottom: 0.8rem;
}

li.nav-item {
    margin-bottom: 0;
}

table.dataframe {
    border-collapse: collapse;
    width: auto;
    margin: 1em;
    font-size: 1em;
}

table.dataframe thead {
    border-top: 1px solid #ccc;
}

table.dataframe th {
    font-weight: bold;
    text-align: left;
    padding: 4px 12px;
}

table.dataframe td {
    padding: 4px 12px;
}

table.dataframe tbody tr:nth-child(even) {
    background-color: #f7f7f7;
    color: #4f5864
}

table.dataframe tbody tr:nth-child(odd) {
    background-color: #fff;
    color: #4f5864
}