@{
    ViewBag.Title = "All Blog Articles";
    ViewBag.Description = "All blog articles by Lee Sanderson";
    ViewBag.Url = ViewBag.TemplateContext.Url;
    ViewBag.HeroImageUrl = (string)null;
    ViewBag.Keywords = "software craftsmanship dotnet azure blog";

    Layout = "_Layout";
}

<h1>All Blog Posts</h1>

@Include("_SummaryList", Model)