@{
    ViewBag.Title = Model.Title;
    ViewBag.Description = Model.Abstract;
    ViewBag.Url = ViewBag.TemplateContext.Url;
    ViewBag.HeroImageUrl = ViewBag.TemplateContext.HeroImageUrl;

    Layout = "_Layout";
}

<div class="article-header">
    <span class="article-date">@Model.PublicationDate?.ToString("MMM dd, yyyy")</span>
    
    <span class="article-tags">
    @foreach (var tag in Model.GetTags())
    {
        <span class="badge badge-info">@tag</span>
    }
    </span>
</div>

@Raw(Model.Content)