@{
    ViewBag.Title = "Latest Blog Articles";
    ViewBag.Description = "Latest blog articles by Lee Sanderson";
    ViewBag.Url = ViewBag.TemplateContext.Url;
    ViewBag.HeroImageUrl = (string)null;

    Layout = "_Layout";
}

<h1>Latest Blog Posts</h1>


@Include("_SummaryList", Model)

<a href="all.html">More</a>